@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #282c34;
  --white: #dcdfe4;
  --grey: #5a6374;
  --shadow: #5a637444;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --violet: #c678dd;
  --brain: #fc76a3;
  --cyan: #56b6c2;
}
body {
  background: var(--background);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}
i {
  font-size: 2.5rem;
}
a {
  color: var(--white);
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
h1 {
  font-size: 2rem;
}

h2{
  color:var(--grey);
  font-size: 2em;
}

.wrapper{
  display:grid;
  width:90%;
  margin: auto;
  gap:2rem;
  padding: 0.5rem 0;
}

.wrapper div {
  border-radius: 1rem;
  color: var(--white);
}
.two,.three,.six{
  display: none;
}
.four img{
  max-width:200px;
}
.seven{
  display: flex;
  gap:0.5rem;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  .wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    gap:1rem;
    width: min(calc(100% - 1rem), 1200px);
  }

  .one {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 3rem;
    background: var(--shadow);
  }

  .two {
    display:block;
    grid-column: 5 / 7;
    grid-row: 1 / 3;
  }
  .three {
    display:block;
    grid-column: 7 / 9;
    grid-row: 1 / 3;
  }
  .four {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .four img{
    max-width:100%;
  }
  .five {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
    background: var(--shadow);
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .six {
    display:block;
    grid-column: 6 / 8;
    grid-row: 3 / 5;
    background: var(--shadow);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
  }
  .seven {
    grid-column: 8 / 9;
    grid-row: 3 / 5;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }
  .seven div {
    height: 100%;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--shadow);
  }
  .eight {
    grid-column: 1 / 5;
    grid-row: 5 / 7;
    background: var(--shadow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nine {
    grid-column: 5 / 9;
    grid-row: 5 / 7;
    background: var(--shadow);
    padding: 2rem;
  }
}

.orb {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 6px;
  float: left;
  transition: all 0.2s ease-out;
}

.marquee {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 20s linear infinite;
}

span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
