@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #282c34;
  --white: #dcdfe4;
  --grey: #5a6374;
  --shadow: #5a637444;
  --green: #42b883;
}

body {
  background: var(--background);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

i {
  font-size: 2.5rem;
  color: var(--white);
}

a {
  color: var(--green);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2rem;
}

h2 {
  color: var(--green);
  font-size: 2em;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

ul li::marker {
  color: var(--green);
}

.links {
  display: flex;
  flex-direction: column;
}

.orb {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 6px;
  float: left;
  transition: all 0.2s ease-out;
}

.marquee {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 20s linear infinite;
}

span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.parent {
  display: grid;
  height: 100vh;
  padding: 1rem;
  width: 90%;
  margin: auto;

  gap: 1rem;
}

.parent div {
  color: var(--white);
}

.div2,
.div3,
.div6 {
  display: none;
}

img {
  max-width: 200px;
}

.div7 {
  display: flex;
  gap: 0.5rem;
}



@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  img {
    max-width: 100%;
  }

  .parent {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: min(calc(100% - 1rem), 1200px);
  }

  .div1 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    background: var(--shadow);
    padding: 1rem;
  }

  .div2 {
    display: block;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
  }

  .div3 {
    display: block;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
  }

  .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
  }

  .div5 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    background: var(--shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .div6 {
    display: block;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 4;
    background: var(--shadow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
  }

  .div7 {
    grid-row: span 3 / span 3;
    grid-column-start: 8;
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .div7 div {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--shadow);
  }

  .div8 {
    grid-column: span 8 / span 8;
    grid-row-start: 7;
    background: var(--shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .div9 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 8;
  }

  .div10 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 8;
  }

  .div11 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 8;
  }

  .div12 {
    display: block;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 8;
  }
  .flip-box {
    background-color: transparent;
    height: 100%;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  }
  
  .flip-box-back {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background);
    color: var(--white);
    transform: rotateY(180deg);
    border: 2px solid var(--shadow);
  }
}